html, body{
  max-height: 1220px;
  margin: 0;
}

body{

  background-color: rgba(226, 226, 224, 1);
  font-family: 'Lato', sans-serif; 
}

.wrapper{
  position: relative;
  overflow: hidden;
}
.jumbotron{
  position: relative;
  margin-top: 1em;
  margin-left: -6em;
  display: block; 
  width: 90em;
  height: 25em;
}

.jumbotron h1{  
  bottom: -2em;
  left: 29%;
  position: relative;
  color: white;
  z-index: 1;
  font-size: 55px;
  letter-spacing: 15px;
  text-shadow: 2px 2px #000;
}

.jumbotron img{
  border-radius: 5px;
  bottom:4em;
  position: relative;
  width:90%;
  height: 23em;
  overflow: hidden;
}

#about-wrap{
  display: block;
  position: relative;
  background-color: white;
  height: 400px;
  width: 100%;
  margin-bottom: 1em;
}

#img-contain{
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: 2em;
  left:-7em;
}

#main-text{
  display: inline-block;
  margin-top: -23em;
  position: relative;
  left:21em;
  max-width:68%;
}

.personal-links{
  position: relative;
  left:-24px;
  letter-spacing: 3px;
  margin-top: 4em;
}

.personal-links ul li a{
  list-style-type: none;
}

#projects{
  display: block;
  position: relative;
  background-color: white;
  height: 400px;
  width: 100%;
}

.celeste-contain{
  height: 350px;
  width: 350px;
  display: inline-block;
  margin-left: -8em;
}

.celeste-gallery img{
  height: 300px;
  width: 300px;
}

.tic-contain{
  height: 300px;
  width: 350px;
  display: inline-block; 
}

.tic-contain h2{
  display: inline;
}
.tic-contain p{
  display: inline;
  margin-left: 75px;
}

.tic-gallery img{
  height: 300px;
  width: 300px;
}

#footer{
  border-bottom: 2px solid white;
  position: fixed;
  max-height: 2em;
  width: 100%;
  bottom:0;
  padding-bottom: 1em;
}

#footer p{
  margin-left: 4em;
  margin-top: 1em;

}

.hidden{
  display: none;
}

